.PhonebookItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

td {
  min-width: 25%;
  max-width: 25%;
  margin: 0 5px;
  word-wrap: break-word;
}

td:last-child {
  min-width: 10%;
}
