.Button {
  background-color: thistle;
  border: none;
  border-radius: 10px;
  width: 150px;
  height: 40px;
  align-self: center;
  cursor: pointer;
}

.Button:hover {
  background-color: cornsilk;
}
