.Form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.fieldWrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.newContactField {
  margin: 0 0 10px;
  width: 35%;
}
